body {
    background-color: #121212; /* Dark color */
    color: white; /* Ensures text is readable */
    font-family: Arial, sans-serif; /* Sets a clean font */
}

#linkDiv, #errorDiv, #imageControls {
    display: none;
}

#preview {
    max-width: 100%;
    background: #fff;
    border: 1px solid #666;
    image-rendering: pixelated;
}
